

nav ul {font-size: 0;}

	nav ul button {display: none;}

	nav ul button {outline: none;}

nav ul {padding-left: 100px;}

	nav ul button {background-color: transparent;}

body {margin-left: 0;}

nav ul {padding-bottom: 0pt;}

nav ul {padding-right: 100px;}

	nav ul li a,nav ul button {font-size: 25px;}

body {margin-bottom: 0;}

body {margin-right: 0;}

body {margin-top: 0;}

nav ul button {border-left-width: 0;}

nav ul li a,a {text-decoration: none;}

nav ul li a {display: block;}

nav ul {padding-top: 0px;}

nav ul {list-style: none;}

	nav ul li a,nav div,a,nav ul button {color: white;}

nav ul {text-align: right;}

header,nav {position: relative;}

nav div {display: inline-block;}

nav {background-color: #1E90FF;}

nav {overflow: hidden;}

nav {box-shadow: 0in -.75pt 0in 0pc #0f1014 inset,0px -1.5pt 0pc 0px #0d0e12 inset,0px -.03125in 0pt 0in #090a0e inset;}

	nav ul li a,nav ul button {padding-left: 7.5pt;}

	nav ul button {border-bottom-width: 0;}

	nav ul button,nav ul li a {padding-bottom: 1.25pc;}

	nav div {float: left;}

	nav ul button,nav ul li a {padding-right: 7.5pt;}

	nav ul button {border-right-width: 0;}

header {background-image: url("../src/header.png");}

header {background-attachment: fixed;}

nav ul li a,nav ul button {padding-top: 1.25pc;}

header {padding-left: 37.5pt;}

nav div {font-weight: 700;}

header {padding-bottom: 37.5pt;}

nav div {font-size: 26.25pt;}

header {padding-right: 37.5pt;}

header {padding-top: 37.5pt;}

nav div,nav ul li a {text-transform: uppercase;}

header {text-align: center;}

nav ul button {border-top-width: 0;}

nav ul button {border-left-style: none;}

header {border-bottom-width: 3pt;}

header {border-bottom-style: solid;}

nav ul button {border-bottom-style: none;}

nav div {padding-left: 0in;}

nav ul button {border-right-style: none;}

nav div {padding-bottom: .625pc;}

header {border-bottom-color: #131418;}

header {border-image: none;}

nav div,nav ul li a {-webkit-transition: all .5s;}

nav ul li a:hover,nav div{transform: scale(1.2);}

nav ul button {border-top-style: none;}

nav ul button {border-left-color: currentColor;}

nav ul li a,nav div {-moz-transition: all .5s;}

nav ul button {border-bottom-color: currentColor;}

nav ul button {border-right-color: currentColor;}

nav ul button {border-top-color: currentColor;}

nav div {padding-right: 0px;}

nav ul button {border-image: none;}

nav div {padding-top: .104166667in;}

nav div,nav ul li a {transition: all .5s;}

nav ul button {border-radius: 5px;}

nav ul button {cursor: pointer;}

nav ul li {display: inline-block;}

header img {position: relative;}

header img {animation: server-logo 2s linear infinite;}

header img {margin-bottom: .9375pc;}

* {font-family: "Saira Extra Condensed",sans-serif;}

@keyframes server-logo {from}

50% {
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(-5px);
 }

to {
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
 }

{}

	.quadro,#sobre,.row {position: relative;}

[class~=quadro]:only-child {width: 80%;}

header > span:not(#copiado),.quadro {color: white;}

[class~=quadro] [class~=body] button,header button {outline: none;}

header > span:not(#copiado) {font-size: 1.25pc;}

#regras [class~=regra] [class~=regra-titulo] {font-size: 26.25pt;}

#sobre {padding-left: 18.75pt;}

header #copiado {opacity: 0;}

header button:hover {-webkit-transform: scale(1.1);}

.row,#sobre,[class~=quadro] [class~=titulo] {text-align: center;}

footer {background-image: url("../src/header.png");}

.row {font-size: 0;}

[class~=quadro] [class~=titulo],#regras [class~=regra] [class~=regra-titulo],footer h3 a,[class~=quadro] [class~=body] button {font-weight: 700;}

[class~=quadro]:hover {transform: scale(1.1);}

header button,[class~=quadro] [class~=body] button {background-color: transparent;}

.quadro {display: inline-block;}

#sobre {padding-bottom: 18.75pt;}

.quadro {background-color: #3b3d4c;}

[class~=quadro] [class~=body] button {border-left-width: .020833333in;}

[class~=quadro] [class~=body] button {border-bottom-width: .020833333in;}

[class~=quadro]:hover {box-shadow: 0in 0pt 30px 0in rgba(0,0,0,.5);}

#regras [class~=regra] [class~=regra-titulo],[class~=quadro] [class~=titulo] {text-transform: uppercase;}

[class~=quadro] [class~=titulo] {display: block;}

[class~=quadro] [class~=titulo] {font-size: 30px;}

[class~=quadro] [class~=body] button:hover {background-color: white;}

[class~=quadro] [class~=body] button {border-right-width: .020833333in;}

#sobre {padding-right: 18.75pt;}

.quadro {border-radius: 5px;}

[class~=quadro] [class~=body] button {border-top-width: .020833333in;}

.quadro {width: 25%;}

header button:hover {-moz-transform: scale(1.1);}

#sobre {padding-top: 18.75pt;}

[class~=quadro] [class~=titulo] {padding-left: .625pc;}

[class~=quadro] [class~=titulo] {padding-bottom: .625pc;}

.quadro {margin-left: .9375pc;}

header > span:not(#copiado),header button {padding-left: 15pt;}

[class~=quadro] [class~=titulo] {padding-right: .625pc;}

.quadro {margin-bottom: .9375pc;}

[class~=quadro] [class~=body] button {border-left-style: solid;}

#sobre,[class~=quadro] [class~=body] button,header button,[class~=quadro] [class~=titulo] {border-bottom-style: solid;}

[class~=quadro] [class~=titulo] {padding-top: .625pc;}

[class~=quadro] [class~=body] button {border-right-style: solid;}

.quadro {margin-right: .9375pc;}

[class~=quadro] [class~=body] button {border-top-style: solid;}

.quadro {margin-top: .9375pc;}

[class~=quadro] [class~=titulo] {background-color: #333542;}

header button {padding-bottom: 3.75pt;}

.quadro,[class~=blackwhite] {-webkit-transition: all .5s;}

footer {background-attachment: fixed;}

header button {padding-right: 1.25pc;}

header button {padding-top: 3.75pt;}

[class~=quadro] [class~=body] button {border-left-color: white;}

[class~=quadro] [class~=body] button {border-bottom-color: white;}

#sobre {background-color: #1e1f26;}

[class~=quadro] [class~=body] button {border-right-color: white;}

[class~=blackwhite],.quadro {-moz-transition: all .5s;}

#regras [class~=regra] [class~=regra-titulo] {padding-left: 1.875pc;}

[class~=quadro] [class~=body] button {border-top-color: white;}

[class~=quadro] [class~=body] button {border-image: none;}

[class~=quadro] [class~=body] button,header #copiado {color: white;}

[class~=quadro] [class~=titulo] {border-bottom-width: 3px;}

header button {border-left-width: .75pt;}

[class~=quadro] [class~=body] button {font-size: .1875in;}

.quadro,[class~=blackwhite] {transition: all .5s;}

footer {background-position: bottom;}

#aviso,#regras [class~=regra],[class~=quadro] [class~=body],footer,#comentarios,[class~=tooltip] {position: relative;}

[class~=blackwhite] {filter: grayscale(100%);}

header #copiado {display: none;}

#sobre,[class~=quadro] [class~=titulo] {border-bottom-color: #131418;}

header button {border-bottom-width: .75pt;}

#aviso h1 {color: #910202;}

#sobre {border-bottom-width: 3pt;}

[class~=quadro] [class~=titulo],#sobre {border-image: none;}

#aviso h1 {font-size: .833333333in;}

[class~=quadro] [class~=titulo] {border-radius: .3125pc .052083333in 0pt 0px;}

[class~=blackwhite]:hover {-webkit-filter: grayscale(0);}

#sobre [class~=aviso] {width: 80%;}

[class~=blackwhite]:hover {-moz-filter: grayscale(0);}

[class~=blackwhite]:hover {filter: grayscale(0);}

header button:hover {transform: scale(1.1);}

#aviso {padding-left: 18.75pt;}

[class~=quadro] [class~=body] button {text-transform: uppercase;}

[class~=quadro] [class~=body] {font-size: .208333333in;}

header button {border-right-width: .75pt;}

[class~=quadro] [class~=body] button,[class~=quadro] [class~=body] {padding-left: 11.25pt;}

header > span:not(#copiado),.aviso {padding-bottom: .052083333in;}

#aviso {padding-bottom: 18.75pt;}

#aviso {padding-right: 18.75pt;}

#regras [class~=regra] [class~=regra-titulo] {padding-bottom: .625pc;}

#sobre [class~=aviso] a {color: #131418;}

header button {border-top-width: .75pt;}

[class~=quadro] [class~=body] button:hover {color: #3b3d4c;}

header button {border-left-style: solid;}

.aviso {display: inline-block;}

header > span:not(#copiado) {padding-right: 15pt;}

#aviso {padding-top: 18.75pt;}

[class~=tooltip] [class~=tooltip-content],#aviso {text-align: center;}

[class~=tooltip] [class~=tooltip-content],#regras [class~=regra],header button:hover,.aviso {color: white;}

#aviso {background-color: #1e1f26;}

.aviso {background-color: #910202;}

#aviso {border-bottom-width: 3pt;}

#aviso {border-bottom-style: solid;}

[class~=quadro] [class~=body],[class~=quadro] [class~=body] button {padding-bottom: 11.25pt;}

[class~=quadro] [class~=body],[class~=quadro] [class~=body] button {padding-right: 11.25pt;}

[class~=quadro] [class~=body] button,[class~=quadro] [class~=body] {padding-top: 11.25pt;}

header button,#aviso {border-bottom-color: #131418;}

.aviso {padding-left: .052083333in;}

header button {border-right-style: solid;}

.aviso {padding-right: .052083333in;}

#regras [class~=regra] [class~=regra-titulo] {padding-right: 1.875pc;}

header button {border-top-style: solid;}

[class~=tooltip] [class~=tooltip-content] {visibility: hidden;}

footer {margin-left: 0;}

#regras [class~=regra] [class~=regra-titulo] {padding-top: .625pc;}

[class~=tooltip] [class~=tooltip-content] {opacity: 0;}

header button {border-left-color: #131418;}

#aviso {border-image: none;}

header button {border-right-color: #131418;}

#regras [class~=regra] [class~=regra-titulo] {background-color: #131418;}

.tooltip:hover .tooltip-content {visibility: visible;}

#comentarios,#regras {background-color: #333542;}

#comentarios {padding-left: 3.125pc;}

header button {border-top-color: #131418;}

footer {margin-bottom: 0;}

.tooltip:hover .tooltip-content {opacity: 1;}

header > span:not(#copiado),.aviso {padding-top: .052083333in;}

header button {border-image: none;}

header > span:not(#copiado),header button:hover {background-color: rgba(19,20,24,.8);}

#aviso h1,.aviso {font-weight: 700;}

#regras [class~=regra] {text-align: left;}

[class~=quadro] [class~=body] button,#regras [class~=regra] [class~=regra-titulo] {cursor: pointer;}

[class~=quadro] [class~=body] button {margin-top: .625pc;}

#comentarios,#regras {padding-bottom: 3.125pc;}

#comentarios {padding-right: 3.125pc;}

[class~=quadro] [class~=body] button {width: 100%;}

#comentarios {padding-top: 3.125pc;}

header button {margin-top: 11.25pt;}

[class~=quadro] [class~=body] button {-webkit-transition: all .5s;}

#comentarios {text-align: center;}

[class~=tooltip] [class~=tooltip-content]::after,[class~=tooltip] [class~=tooltip-content] {position: absolute;}

#comentarios {border-bottom-width: .041666667in;}

[class~=quadro] [class~=body] button {-moz-transition: all .5s;}

.aviso,[class~=tooltip] [class~=tooltip-content] {border-radius: .1875pc;}

#comentarios {border-bottom-style: solid;}

[class~=tooltip] [class~=tooltip-content] {bottom: 105%;}

[class~=dery-modal] [class~=dery-modal-close]:hover {transform: rotate(360deg);}

.aviso,header button {font-size: 1.25pc;}

footer {margin-right: 0;}

[class~=tooltip] [class~=tooltip-content] {right: 50%;}

#regras [class~=regra] {background-color: #1e1f26;}

header button {margin-bottom: .3125pc;}

#comentarios {border-bottom-color: #1d1e24;}

#aviso h1,.aviso {text-transform: uppercase;}

#comentarios {border-image: none;}

[class~=quadro] [class~=body] button {transition: all .5s;}

[class~=tooltip] [class~=tooltip-content] {transform: translateX(50%);}

.aviso {box-shadow: 0in -.75pt 0pc 0in #7a0101 inset,0px -1.5pt 0pt 0in #720000 inset,0px -.1875pc 0in 0px #6d0000 inset;}

[class~=tooltip] [class~=tooltip-content]::after {content: "";}

[class~=tooltip] [class~=tooltip-content] {padding-left: .052083333in;}

#regras {position: relative;}

	#regras [class~=regra] [class~=regra-content] {padding-left: 1.875pc;}

[class~=owl-carousel] {cursor: grab;}

#regras [class~=regra] [class~=regra-content] {padding-bottom: .15625in;}

[class~=owl-carousel] {cursor: -webkit-grab;}

[class~=tooltip] [class~=tooltip-content]::after {top: 100%;}

[class~=tooltip] [class~=tooltip-content] {padding-bottom: .052083333in;}

[class~=owl-carousel] {cursor: -moz-grab;}

[class~=tooltip] [class~=tooltip-content] {padding-right: .052083333in;}

footer {margin-top: 0;}

#regras {padding-left: 3.125pc;}

[class~=tooltip] [class~=tooltip-content]::after {left: 50%;}

[class~=tooltip] [class~=tooltip-content] {padding-top: .052083333in;}

header button,.dery-modal {color: #131418;}

.dery-modal {display: none;}

[class~=tooltip] [class~=tooltip-content] {font-size: .15625in;}

	[class~=tooltip] [class~=tooltip-content]::after {border-left-width: 6pt;}

	[class~=tooltip] [class~=tooltip-content]::after {border-bottom-width: 6pt;}

	[class~=tooltip] [class~=tooltip-content]::after {border-right-width: 6pt;}

#regras {padding-right: 3.125pc;}

[class~=tooltip] [class~=tooltip-content] {font-weight: 300;}

[class~=tooltip] [class~=tooltip-content] {min-width: 200%;}

.dery-modal {position: fixed;}

header > span:not(#copiado) {border-radius: .125pc;}

#regras [class~=regra] [class~=regra-content] {padding-right: 1.875pc;}

#regras {padding-top: 3.125pc;}

#regras,footer {text-align: center;}

.dery-modal {top: 5%;}

#regras {border-bottom-width: .041666667in;}

[class~=tooltip] [class~=tooltip-content] {background-color: rgba(19,20,24,.9);}

#regras,[class~=tooltip] [class~=tooltip-content]::after {border-bottom-style: solid;}

footer h1,#aviso h1 {margin-left: 0;}

#regras {border-bottom-color: #1d1e24;}

footer {color: #f5f5f5;}

.dery-modal {left: 15%;}

[class~=tooltip] [class~=tooltip-content]::after {border-top-width: 6pt;}

#regras {border-image: none;}

header button,#aviso h3 a {font-weight: 700;}

[class~=tooltip] [class~=tooltip-content]::after {border-left-style: solid;}

header button {text-transform: uppercase;}

header button {cursor: pointer;}

[class~=tooltip] [class~=tooltip-content],header button {-webkit-transition: all .5s;}

header button,[class~=tooltip] [class~=tooltip-content] {-moz-transition: all .5s;}

.dery-modal {right: 15%;}

#loja {position: relative;}

header button,[class~=tooltip] [class~=tooltip-content] {transition: all .5s;}

#regras [class~=regra] [class~=regra-content] {padding-top: .15625in;}

.dery-modal {bottom: 5%;}

#loja {background-color: #333542;}

.dery-modal {background-color: #131418;}

[class~=tooltip] [class~=tooltip-content]::after {border-right-style: solid;}

[class~=tooltip] [class~=tooltip-content]::after {border-top-style: solid;}

.dery-modal {border-radius: .052083333in;}

footer h1 {font-size: 50px;}

#loja {padding-left: 3.125pc;}

#loja {padding-bottom: 3.125pc;}

[class~=owl-carousel] [class~=owl-item] {font-size: 18px;}

[class~=tooltip] [class~=tooltip-content]::after {border-left-color: transparent;}

#aviso h1,footer h1,footer h3 {margin-bottom: 0;}

#regras [class~=regra] [class~=regra-content] {font-size: 20px;}

[class~=owl-carousel] [class~=owl-item],#aviso h3 {color: white;}

#regras [class~=regra] [class~=regra-punicao],[class~=dery-modal-bg],#regras [class~=regra] [class~=regra-content] {display: none;}

footer h1,#aviso h1,footer h3 {margin-right: 0;}

footer h3,footer h1,#aviso h1 {margin-top: 0;}

#loja {padding-right: 3.125pc;}

[class~=tooltip] [class~=tooltip-content]::after {border-bottom-color: transparent;}

#loja {padding-top: 3.125pc;}

#aviso h3,footer h3 {font-size: 18.75pt;}

[class~=dery-modal]:hover {box-shadow: 0in 0in 37.5pt 0pc rgba(0,0,0,.8);}

[class~=tooltip] [class~=tooltip-content]::after {border-right-color: transparent;}

#loja {text-align: center;}

#aviso h3,footer h3 {font-weight: 300;}

.dery-modal {z-index: 999;}

[class~=tooltip] [class~=tooltip-content]::after {border-top-color: rgba(19,20,24,.9);}

footer h3 {margin-left: 0;}

#loja {border-bottom-width: .041666667in;}

[class~=dery-modal] [class~=dery-modal-title],#regras [class~=regra] [class~=regra-punicao] {padding-left: 22.5pt;}

[class~=dery-modal] [class~=dery-modal-title] {padding-bottom: 7.5pt;}

[class~=dery-modal] [class~=dery-modal-title] {padding-right: 22.5pt;}

#loja,[class~=dery-modal] [class~=dery-modal-title] {border-bottom-style: solid;}

.dery-modal {-webkit-transition: box-shadow .5s ease-in-out;}

[class~=dery-modal] [class~=dery-modal-title],[class~=dery-modal] [class~=dery-modal-close] {padding-top: 7.5pt;}

[class~=dery-modal] [class~=dery-modal-title],[class~=dery-modal] [class~=dery-modal-close] {background-color: #363636;}

[class~=dery-modal] [class~=dery-modal-title] {font-size: 2.1875pc;}

[class~=owl-carousel] [class~=owl-item] img {border-radius: 50%;}

[class~=dery-modal] [class~=dery-modal-title],[class~=dery-modal] [class~=dery-modal-close] {font-weight: 700;}

[class~=owl-carousel] [class~=owl-item] img {user-drag: none;}

#loja {border-bottom-color: #1d1e24;}

[class~=dery-modal] [class~=dery-modal-title] {text-transform: uppercase;}

.dery-modal {-moz-transition: box-shadow .5s ease-in-out;}

#loja {border-image: none;}

[class~=owl-carousel] [class~=owl-item] img {user-select: none;}

#aviso h1 {text-shadow: 0pc .0625pc #7a0101,0px 2px #720000;}

#loja {background-color: #17181d;}

footer {padding-left: .260416667in;}

[class~=dery-modal] [class~=dery-modal-title] {text-align: left;}

.dery-modal {transition: box-shadow .5s ease-in-out;}

[class~=dery-modal] [class~=dery-modal-title] {border-bottom-width: .1875pc;}

[class~=owl-carousel] [class~=owl-item] img {-moz-user-select: none;}

footer {padding-bottom: .260416667in;}

[class~=dery-modal-bg] {position: fixed;}

[class~=owl-carousel] [class~=owl-item] img {-webkit-user-drag: none;}

#regras .regra .regra-titulo::before {content: "+ ";}

[class~=dery-modal-bg] {top: 0;}

[class~=dery-modal-bg] {left: 0;}

[class~=dery-modal-bg] {right: 0;}

[class~=owl-carousel] [class~=owl-item] img {-webkit-user-select: none;}

[class~=owl-carousel] [class~=owl-item] img {-ms-user-select: none;}

[class~=dery-modal-bg] {bottom: 0;}

[class~=dery-modal-bg] {background-color: rgba(0,0,0,.8);}

[class~=dery-modal] [class~=dery-modal-title] {border-bottom-color: #131418;}

footer {padding-right: .260416667in;}

[class~=dery-modal-bg] {z-index: 998;}

[class~=dery-modal] [class~=dery-modal-title] {border-image: none;}

[class~=dery-modal] [class~=dery-modal-close] {font-family: Garamond,"Apple Garamond";}

[class~=dery-modal] [class~=dery-modal-content],[class~=dery-modal] [class~=dery-modal-close] {display: inline-block;}

[class~=dery-modal] [class~=dery-modal-close] {float: right;}

footer {padding-top: .260416667in;}

[class~=dery-modal] [class~=dery-modal-close] {padding-left: 0pt;}

[class~=dery-modal] [class~=dery-modal-close],#regras [class~=regra] [class~=regra-punicao] {padding-bottom: .104166667in;}

[class~=dery-modal] [class~=dery-modal-close] {padding-right: 0pt;}

[class~=dery-modal] [class~=dery-modal-close] {cursor: pointer;}

#aviso h3 {margin-left: 0;}

[class~=dery-modal] [class~=dery-modal-close] {-webkit-transition: all .4s ease-in-out;}

[class~=dery-modal] [class~=dery-modal-close] {-moz-transition: all .4s ease-in-out;}

[class~=dery-modal] [class~=dery-modal-close] {transition: all .4s ease-in-out;}

[class~=dery-modal] [class~=dery-modal-content] {position: relative;}

[class~=dery-modal] [class~=dery-modal-content] {padding-left: .9375pc;}

[class~=dery-modal] [class~=dery-modal-content] {padding-bottom: .9375pc;}

[class~=dery-modal] [class~=dery-modal-content] {padding-right: .9375pc;}

#aviso h3 {margin-bottom: 0;}

[class~=dery-modal] [class~=dery-modal-content] {padding-top: .9375pc;}

#regras [class~=regra] [class~=regra-punicao] {padding-right: .3125in;}

[class~=dery-modal] [class~=dery-modal-content] {overflow-y: auto;}

[class~=dery-modal] [class~=dery-modal-content] {font-size: 20px;}

[class~=dery-modal] [class~=dery-modal-content] {width: calc(100% - 30px);}

#regras [class~=regra] [class~=regra-punicao] {padding-top: .104166667in;}

[class~=dery-modal] [class~=dery-modal-content] {height: calc(90% - 55px);}

#aviso h3 {margin-right: 0;}

#regras [class~=regra] [class~=regra-punicao] {font-size: 1.125pc;}

#aviso h3 {margin-top: 0;}

#regras [class~=regra] [class~=regra-punicao] {background-color: #24252e;}

#aviso h2 {color: white;}

#aviso h2 {font-size: .260416667in;}

#aviso h2 {font-weight: 700;}
